{% extends 'wrapper.html' %}
{% load i18n%}
{% block title %}
<title> Register </title>
{% endblock %}
{% block content %}
  <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto" >
      <div class="row">
        <div class="col-lg-6 col-md-8 col-12 mx-auto mb-5" style="margin-top: 90px">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">{% trans 'Sign up' %}</h4>
                <div class="row mt-3">
                </div>
              </div>
            </div>
            <div class="card-body  d-block">
              <form role="form" class="text-start row" method="post">
                {% csrf_token %}
                <div class="col-md-12">
                  <label class="form-label">{% trans 'Username' %}</label>
                    <div class="input-group input-group-outline my-3">
                      <input type="text" name="username" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label">{% trans 'First name' %}</label>
                    <div class="input-group input-group-outline my-3">
                      <input type="text" name="first_name" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label">{% trans 'Last name' %}</label>
                    <div class="input-group input-group-outline my-3">
                      <input type="text" name="last_name" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Email</label>
                    <div class="input-group input-group-outline my-3">
                      <input type="email" name="email" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label">{% trans 'Phone' %}</label>
                    <div class="input-group input-group-outline my-3">
                      <input type="tel" name="phone" class="form-control" required placeholder="+123456789012"  id="phone"  pattern="[+]{1}[0-9]{12}"  >
                    </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label">{% trans 'Password' %}</label>
                    <div class="input-group input-group-outline mb-3">
                    <input type="password" name="password1" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label">{% trans 'Password (repeat again)' %}</label>
                    <div class="input-group input-group-outline mb-3">
                    <input type="password" name="password2" class="form-control" required>
                    </div>
                </div>
                <label for="exampleFormControlSelect1" class="ms-0">{% trans 'Select your category' %}</label>
                <div class="input-group input-group-static mb-4">
                  <select class="form-control" id="exampleFormControlSelect1" name="master">

                    {% for m in masters %}
                    <option value="{{ m.id }}">{{ m }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="text-center">
                  <button type="submit"  class="btn bg-gradient-primary w-100 my-4 mb-2">{% trans 'Sign up' %}</button>
                </div>
              </form>

                <a href="{{request.LANGUAGE_CODE}}/accounts/login/" class="btn btn-outline-info"> {% trans 'Sign in' %} </a>

              {% load socialaccount %}
              <button class="btn btn-outline-info">


                <i class="fab fa-google"></i> 
                 <a href="/accounts/google/login/"> {% trans ' Sign up with ' %} Google</a>
            </button>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% endblock %}



