{% extends 'wrapper.html' %}
{% block title %}
<title>Verification Code   </title>
{% endblock %}

{% block content %}
{% load i18n %}

<div class="container"  style="background-image: url('/static/assets/img/bg2.jpg')"><div class="row"><div class="col">
    <section id="ver_section">
        <div class="container py-4" style="margin-top: 66px;">
          <div class="row">
            <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
              <h3 class="text-center" > </h3>

                <div class="card-body" id="ver_code_card" >
                  <div class="row">
                    <div class="col-md-12">
                        <label class="form-label">{% trans 'Verification Code ' %} </label>
                        <div class=" ver input-group input-group-dynamic mb-4">
                            <input class="form-control" id="ver_code" aria-label="First Name..." type="text" >
                        </div>
                    </div>
                    <div class="container">
                      <div class="col-6"><p class="text-center"  style="font-size: 35px; background-color : rgb(7, 111, 247); color:black; border: 15px;" id="demo"></p></div>
                    </div>
                </div>

            </div>
          </div>
        </div>
      </section>


      <section id="password_section" style="display: none;">
        <div class="container py-4" style="margin-top: 66px;">
          <div class="row">
            <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
              <h3 class="text-center">{% trans 'New Password ' %}</h3>
              <form role="form" action="/{{request.LANGUAGE_CODE }}/edit_password" id="contact-form" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="form-label">{% trans 'New Password ' %}</label>
                      <div class="input-group input-group-dynamic mb-4">
                        <input name="password_1"  id="password_1" class="form-control"type="password" >
                      </div>
                    </div>
                    <div class="col-md-6 ps-2">
                      <label class="form-label">{% trans 'Password (repeat again)' %}</label>
                      <div class="input-group input-group-dynamic">
                        <input name="password_2" id="password_2" type="password" class="form-control" placeholder="" >
                      </div>
                    </div>
                  </div>

                  <div class="row" id="password_button_row" style="display: none;">

                    <div class="col-md-12">
                      <button type="submit" class="btn bg-gradient-dark w-100">{% trans 'Edit Password' %}</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>




</div></div></div>


<script src="static/jquery-3.2.1.min.js"></script>

<script>

    $('#ver_code').on('keyup',function(){

        let ver_code = document.getElementById('ver_code').value
        if (ver_code === `{{request.session.verification_code}}`){

            $('#ver_section').css('display','none')
            $('#password_section').css('display','block')

        };
    });


`{{request.session.time}}`
var countDownDate = new Date(`{{request.session.time}}`).getTime();

var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;
 
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("demo").innerHTML =
   minutes +  " m  : " + seconds +  " s ";
  if (minutes < 1 ){
    $('#demo').css('background','rgb(145, 41, 41)')
  }

  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
    $('.ver').css('display','none')
  }

}, 1000);

$('#password_2').on('keyup',function(){
  let password_1 =  document.getElementById("password_1").value
  let password_2 =  document.getElementById("password_2").value
  if (password_1 === password_2 && password_2.length >= 8  ){
    $('#password_button_row').css('display','block')
  }
})



</script>

{% endblock content %}
